*{
    margin: 0;
    padding: 0;
}
.pater{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    gap: 10px;
}
#imagen{
    width: 400px;
    height: 600px;
}
button{
    width: 200px;
    height: 40px;
    background-color: transparent;
    transition: all 200ms ease-in;
}
button:hover{
    background-color: aqua;
}