*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.pater{
    display: grid;
    margin: 0 auto;
    width: 200px;
}
.pater>div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 5px;
    width: 100%;
}
input{
    width: 100%;
    height: 20px;
}
button{
    width: 100%;
}